@font-face {
    font-family: 'demo-icomoon';
    src: url('../fonts/demo-icomoon.eot');
    src: url('../fonts/demo-icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/demo-icomoon.woff') format('woff'), url('../fonts/demo-icomoon.ttf') format('truetype'), url('../fonts/demo-icomoon.svg#demo-icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.slidePageInFromLeft {
    animation: slidePageInFromLeft .8s cubic-bezier(.01, 1, .22, .99) 1 0.25s normal forwards;
}

.slidePageBackLeft {
    opacity: 1;
    left: 0;
    animation: slidePageBackLeft .8s ease-out 1 normal forwards;
}

.fadeOutback {
    animation: fadeOutBack 0.2s ease-out 1 normal forwards;
}

.fadeInForward-1,
.fadeInForward-2,
.fadeInForward-3 {
    opacity: 0;
    transform: translateZ(-5em) scale(0.75);
    animation: fadeInForward .3s cubic-bezier(.03, .93, .43, .77) .4s normal forwards;
}

.fadeInForward-2 {
    animation-delay: .55s;
}

@keyframes fadeOutBack {
    0% {
        transform: translateZ(-1em) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateZ(-5em) scale(0);
        opacity: 0;
    }
}

@keyframes fadeInForward {
    0% {
        transform: translateZ(-5em) translate(150px,0px);
        opacity: 0;
    }

    100% {
        transform: translateZ(0em) translate(0px,0px);
        opacity: 1;
    }
}

@keyframes slidePageInFromLeft {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes slidePageBackLeft {
    0% {
        left: 0;
    }

    100% {
        left: -150%;
    }
}


/*======================= media queries =======================*/

@media screen and (min-width: 64em) {
    @keyframes fadeInForward {
        80% {
            opacity: 0.9;
        }

        100% {
            transform: translateZ(0) scale(1) translateX(-2em);
            opacity: 1;
        }
    }
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background: url("../images/1.png");
    /*background: #333333;ºÚÉ«Æ¤·ô*/
    /*color: #ffffff;*/
    background-size: cover;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /*font-family: 'Î¢ÈíÑÅºÚ';*/
}

ul {
    list-style-type: none;
}

a {
    color: #212121;
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:focus {
        text-decoration: none;
        color: #8B8878;
    }

    a:active,
    a:focus {
        color: #8B8878;
        border: none;
    }

h3 {
    color: #8A8A8A;
    font-size: medium;
}

.firstheader {
    font-size: 28px;
    line-height: 44px;
    /*text-indent: 8px;*/
    color: #1E1E1E;
    font-family: 'Microsoft YaHei';
    text-align: left;
    /*background-color: #00b0f0;*/
    width: 100%;
    margin: 0 auto;
    height: 44px;
    margin-top: 10px;
}

    .firstheader .sub_title {
        font-size: 18px;
        line-height: 44px;
        color: #1E1E1E;
        font-family: 'Microsoft YaHei';
        text-align: center;
        display: none;
    }

.secondheader {
    font-size: 1em;
    color: #BDBDBD;
    font-family: 'Microsoft YaHei';
}

.pagerfooter {
    color: #8A8A8A;
    text-align: center;
    font-family: 'Microsoft YaHei';
    display: none;
}

.goImg {
    width: 40px;
    height: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

#goBack {
    font-size: 1em;
    color: #1E1E1E;
    display: inline;
    float: left;
    width: 32px;
}

.goBack-detail {
    display: inline;
    float: left;
    padding-left: 8px;
}

#easy_btn {
    font-size: 1em;
    color: #1E1E1E;
    display: inline;
    float: right;
    width: 32px;
    text-align: center;
    position: relative;
}

.easyList {
    position: absolute;
    right: 0px;
    top: 44px;
    z-index: 999;
}

.none {
    display: none;
}

.show {
    display: block;
}
/* CSS Document */

/*下拉菜单 开始*/
.ui-dropmenu {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    min-width: 75px;
    min-height: 35px;
    background-color: #fff;
}

    .ui-dropmenu .ui-dropmenu-items li {
        border-bottom: 1px solid #d9d9d9;
    }

        .ui-dropmenu .ui-dropmenu-items li:last-child {
            border-bottom: 0 none;
        }

    .ui-dropmenu .ui-dropmenu-items a {
        display: block;
        /*padding: 1em 1em;*/
        text-align: center;
        position: relative;
        color: #5b5b5b;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
    }

    .ui-dropmenu .ui-dropmenu-items .ui-icontext a {
        padding-left: 2em;
    }

    .ui-dropmenu .ui-dropmenu-items .ui-icontext .ui-icon {
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: 5px;
    }

    .ui-dropmenu .ui-dropmenu-items a.ui-state-hover {
        background-color: #e2e2e2;
    }


    .ui-dropmenu .ui-dropmenu-arrow, .ui-dropmenu .ui-dropmenu-arrow:after {
        display: block;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #d9d9d9 transparent;
        border-style: solid;
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: -8px;
        margin-left: -7px;
    }

        .ui-dropmenu .ui-dropmenu-arrow:after {
            content: '\0020';
            border-width: 0 5px 6px 5px;
            border-color: transparent transparent #fff transparent;
            position: relative;
            left: -5px;
            top: 2px;
            margin-left: 0;
        }


    .ui-dropmenu.ui-horizontal {
        min-width: 0;
        min-height: 0;
    }

        .ui-dropmenu.ui-horizontal .ui-dropmenu-items {
            padding: 2px 3px 1px;
            line-height: 0;
            display: inline-block;
        }


            .ui-dropmenu.ui-horizontal .ui-dropmenu-items li {
                border: 0 none;
                position: relative;
                padding: 3px 4px 3px;
                display: inline-block;
            }

                .ui-dropmenu.ui-horizontal .ui-dropmenu-items li a {
                    border-radius: 3px;
                    width: 1.7em;
                    height: 1.7em;
                    padding: 0;
                    display: block;
                }


                .ui-dropmenu.ui-horizontal .ui-dropmenu-items li:last-child {
                    padding: 3px;
                }

                    .ui-dropmenu.ui-horizontal .ui-dropmenu-items li:last-child:after {
                        display: none;
                    }

.ui-dropmenu-pos-up {
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
}

    .ui-dropmenu-pos-up .ui-dropmenu-arrow, .ui-dropmenu-pos-up .ui-dropmenu-arrow:after {
        border-width: 8px 7px 0 7px;
        border-color: #d9d9d9 transparent transparent transparent;
        top: auto;
        bottom: -8px;
    }

        .ui-dropmenu-pos-up .ui-dropmenu-arrow:after {
            border-width: 6px 5px 0 5px;
            border-color: #fff transparent transparent transparent;
            top: -8px;
        }

.ui-dropmenu.has-iScroll .ui-dropmenu-arrow {
    -webkit-transform: translateZ(0px);
}

@media all and (min-device-width: 768px) and (max-device-width:1024px) {
    .ui-dropmenu .ui-dropmenu-items a {
        font-size: 16px;
    }

    .ui-dropmenu.ui-horizontal .ui-dropmenu-items li {
        padding: 6px 4px 6px;
    }

        .ui-dropmenu.ui-horizontal .ui-dropmenu-items li:last-child {
            padding: 6px 4px;
        }
}
/*下拉菜单 结束*/
.more-detail {
    display: inline;
    float: right;
    padding-right: 8px;
}

.itemid {
    display: none;
}

.demo-wrapper {
    width: 100%;
}

.dashboard {
    margin: 0 auto;
    width: 100%;
    padding: 0 0.6em 0.6em 0.6em;
}

.col1,
.col2,
.col3 {
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    padding-top: 6px;
}

.col1 {
    padding-right: 3px;
}

.col2 {
    padding-left: 3px;
}

.big,
.small {
    float: left;
    margin: 0 auto 6px;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 4.5em;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

    .big:hover,
    .small:hover {
        border-width: 3px;
        border-color: burlywood;
        border-style: solid;
    }

.big {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.small {
    width: 49%;
    margin-right: 2%;
}

.big p {
    line-height: 1.5;
    /*margin-top: .6em;*/
    /*edit by frde 20150904*/
    padding: 0 .3em;
    transition: all 0.3s ease-out;
}

.small.last {
    margin-right: 0;
}


/*icon fonts styles*/

.lock-thumb .icon-font {
    margin-left: 25%;
}


/*styling the boxes/thumbs*/

.lock-thumb0 {
    background: #EF3A5B;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb1 {
    background: #B23AEE;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb2 {
    background: #8B008B;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb3 {
    background: #551A8B;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb4 {
    background: #009ACD;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb5 {
    background: #EEC900;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb6 {
    background: #FF3030;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb7 {
    background: #EE7621;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb8 {
    background: #D15FEE;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb9 {
    background: #CD9B1D;
    background-repeat: no-repeat;
    background-position: center;
}

.lock-thumb10 {
    background: #C71585;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-text {
    font-size: 20px;
    padding-top: 110px;
}


/*styling log in screen*/

.login-screen,
.product-type,
.product-list,
.product-detail {
    background: #EF3A5B;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: -150%;
    color: white;
    text-align: center;
    font-weight: 300;
    z-index: 1;
}

.myform {
    margin: 2em auto;
    width: 300px;
}

input {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    width: 260px;
    height: 40px;
    float: left;
}

#unlock-button {
    background: black;
    color: white;
    font-size: 1em;
    float: left;
    border: 0;
    height: 2.5em;
    width: 2.5em;
    padding: .3125em;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.videocontent {
    margin-top: 1em;
}


/*======================= media queries =======================*/

@media screen and (min-width: 320px) {
    /*700px*/
    .col1,
    .col2,
    .col3 {
        float: left;
        width: 50%;
    }

    .productcontent {
        padding-left: 0.8em;
        padding-right: 0.8em;
        font-size: 16px;
    }

    .dashboard {
        /* padding-top: 4px;
        padding-left: 0.8em;
        padding-right: 0.8em;*/
        font-size: 16px;
    }
}

@media screen and (max-width:480px) {
    #goBack {
        font-size: 1em;
        /*        color: #1E1E1E;
*/ display: block;
        /*        float: right;
*/
    }

    .goBack-detail {
        display: inline;
        float: left;
    }

    .more-detail {
        display: inline;
        float: right;
    }
}

@media screen and (min-width: 480px) {
    .productcontent {
        padding-left: 4em;
        padding-right: 4em;
        font-size: 18px;
    }

    .dashboard {
        /* padding-left: 4em;
        padding-right: 4em;*/
        font-size: 18px;
        padding: 0 3em 3em 3em;
    }

    .goBack-detail {
        margin-left: 1em;
    }

    .more-detail {
        margin-right: 1em;
    }

    #goBack {
        margin-left: -1.5em;
    }
}

@media screen and (min-width: 900px) {
    .productcontent {
        padding-left: 6em;
        padding-right: 6em;
        font-size: 20px;
    }

    .dashboard {
        padding-left: 6em;
        padding-right: 6em;
        font-size: 20px;
        padding: 0 6em 6em 6em;
    }

    .icon-text {
        font-size: 24px;
        padding-top: 140px;
    }

    .firstheader {
        font-size: 32px;
        margin-top: 1em;
    }

    #goBack {
        margin-left: -1.5em;
    }
}

.center {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.horizontal .icon {
    font-size: 44px;
}

.horizontal .icon,
.horizontal .index-icon-text {
    float: left;
    display: inline;
}

.icon {
    font-size: 72px;
    color: #ffffff;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}

.icon-arrowleft {
    font-size: 1em;
    color: #000000;
}
