/*详细页设置*/
.detail-all {
    background: url("../images/1.png");
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: -150%;
    font-weight: 300;
    font-family:'Microsoft YaHei';
    z-index:9999;
   
}
.company
{
    text-align:center;
}
.detailtitle{
    font-size:24px;
}
.productcontent{
    overflow:auto; 
    margin-top:10px;
    font-family:'Microsoft YaHei';
}
/*详细页设置*/
@keyframes fadeInForward {
    0% {
        transform: translateZ(-5em) translate(150px,0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(0em) translate(0px,0px);
        opacity: 1;
    }
}






