
@font-face {
    font-family: 'demo-icomoon';
    src: url('../fonts/demo-icomoon.eot');
    src: url('../fonts/demo-icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/demo-icomoon.woff') format('woff'), url('../fonts/demo-icomoon.ttf') format('truetype'), url('../fonts/demo-icomoon.svg#demo-icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.slidePageInFromLeft {
    animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
}

.slidePageBackLeft {
    opacity: 1;
    left: 0;
    animation: slidePageBackLeft .8s ease-out 1 normal forwards;
}

.fadeOutback {
    animation: fadeOutBack 0.2s ease-out 1 normal forwards;
}

.fadeInForward-1, .fadeInForward-2, .fadeInForward-3 {
    opacity: 0;
    transform: translateZ(-5em) scale(0.75);    
    animation: fadeInForward .3s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
}
.fadeInForward-2 {
    animation-delay: .55s;
}

@keyframes fadeOutBack {
    0% {
        transform: translateZ(-1em) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateZ(-5em) scale(0);
        opacity: 0;
    }
}

@keyframes fadeInForward {
    0% {
        transform: translateZ(-5em);
        opacity: 0;
    }
    100% {
        transform: translateZ(0em);
        opacity: 1;
    }
}

@keyframes slidePageInFromLeft {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes slidePageBackLeft {
    0% {
        left: 0;
    }

    100% {
        left: -150%;
    }
}

/*======================= media queries =======================*/

@media screen and (min-width: 64em) {

    @keyframes fadeInForward {
        80% {
            opacity: 0.9;
        }

        100% {
            transform: translateZ(0) scale(1) translateX(-2em);
            opacity: 1;
        }
    }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background: url("../images/1.png");
    /*background: #333333;ºÚÉ«Æ¤·ô*/
    /*color: #ffffff;*/
    background-size: cover;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /*font-family: 'Î¢ÈíÑÅºÚ';*/
}

ul {
    list-style-type: none;
}

a {
    color: #212121;
    outline: 0;
    text-decoration: none;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #8B8878;
    }

    a:active, a:focus {
        color: #8B8878;
        border: none;
    }

h3 {
    color: #8A8A8A;
    font-size: medium;
}

.firstheader {
    font-size: 3em;
    color: #1E1E1E;
    font-family: 'Microsoft YaHei';
}

.secondheader {
    font-size: 1em;
    color: #BDBDBD;
    font-family: 'Microsoft YaHei';
}

.pagerfooter {
    color: #8A8A8A;
    text-align: center;
    font-family: 'Microsoft YaHei';
    display: none;
}

.goImg {
    width: 40px;
    height: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

#goBack {
    font-size: 1em;
    color: #1E1E1E;
    display: inline;
    float: left;
    margin-left:-1em;
}

.goBack-detail
{
    display: inline; 
    float: left; 
    }

.more-detail
{
    display: inline; float: right;
}

.itemid {
    display: none;
}

.demo-wrapper {
    width: 100%;
}

.dashboard {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

.col1, .col2, .col3 {
    width: 99%;
    margin: 1em auto;
    opacity: 0;
}

.big, .small {
    float: left;
    margin: 1% auto 1%;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 4.5em;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

    .big:hover, .small:hover 
    {
        border-width:3px;
        border-color:burlywood;
        border-style:solid;
    }

.big {
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
}

.small {
    width: 49%;
    margin-right: 2%;
}

.big p {
    line-height: 1.5;
    /*margin-top: .6em;*/ /*edit by frde 20150904*/
    padding: 0 .3em;
    transition: all 0.3s ease-out;
}

.small.last {
    margin-right: 0;
}

/*icon fonts styles*/


.lock-thumb .icon-font {
    margin-left: 25%;
}

/*styling the boxes/thumbs*/


.lock-thumb0 {
    background: #EF3A5B;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb1 {
    background: #B23AEE;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb2 {
    background: #8B008B;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb3 {
    background: #551A8B;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb4 {
    background: #009ACD;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb5 {
    background: #EEC900;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb6 {
    background: #FF3030;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb7 {
    background: #EE7621;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb8 {
    background: #D15FEE;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb9 {
    background: #CD9B1D;
    background-repeat:no-repeat;
    background-position:center;
}
.lock-thumb10 {
    background: #C71585;
    background-repeat:no-repeat;
    background-position:center;
}
.icon-text
{
    font-size:20px;
    padding-top:110px;
}


/*styling log in screen*/

.login-screen, .product-type, .product-list, .product-detail {
    background: #EF3A5B;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: -150%;
    color: white;
    text-align: center;
    font-weight: 300;
    z-index: 1;
}

.myform {
    margin: 2em auto;
    width: 300px;
}

input {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    width: 260px;
    height: 40px;
    float: left;
}

#unlock-button {
    background: black;
    color: white;
    font-size: 1em;
    float: left;
    border: 0;
    height: 2.5em;
    width: 2.5em;
    padding: .3125em;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}
.videocontent
{
    margin-top:1em;
}
/*======================= media queries =======================*/


@media screen and (min-width: 320px) { /*700px*/
    .col1, .col2, .col3 {
        float: left;
        margin-right: 1%;
        min-width: 20%;
        width: 49%;
    }
    .productcontent{
    padding-left:1em;
    padding-right:1em;
    font-size:16px;
}
  .dashboard
  {
    padding-left:1em;
    padding-right:1em;
    font-size:16px;
  }
}
@media screen and (max-width:480px)
{
      
  #goBack {
    font-size: 1em;
    color: #1E1E1E;
    display: inline;
    float: right;
}

.goBack-detail
{
    display: inline; 
    float: left; 
    }

.more-detail
{
    display: inline;
    float: right;
}
}
@media screen and (min-width: 480px) {   

    .productcontent{
    padding-left:4em;
    padding-right:4em;
    font-size:18px;
  }
  
  .dashboard
  {
    padding-left:4em;
    padding-right:4em;
    font-size:18px;
  } 
  .goBack-detail
{
    margin-left:1em;
    }

.more-detail
{
    margin-right:1em;
}
}
@media screen and (min-width: 900px) {   

    .productcontent{
    padding-left:6em;
    padding-right:6em;
    font-size:20px;
  }
  
  .dashboard
  {
    padding-left:6em;
    padding-right:6em;
    font-size:20px;
  } 
  .icon-text
  {
      font-size:24px;padding-top:140px;
  }
}